<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="300" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  </head>
<body>
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="post" action="">

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" name="uname"/>
                  <label class="form-label" >Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg" name="pword" />
                  <label class="form-label" >Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg" name="rpword" />
                  <label class="form-label" >Repeat your password</label>
                </div>

                <div class="form-outline mb-4">
                  <label for="role">Choose role:</label>
                    <select class="col-form-label" name="chosse_role">
                        <option value="admin">Admin</option>
                        <option value="director">Director</option>
                        <option value="profile">Profile</option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                  <label for="shop">Choose a shop:</label>
                  <select class="col-form-label" name="shop_selected">
                    <option value="1">Phi Long Technology</option>
                    <option value="2">Laptop Kim Anh</option>
                  </select>
                </div>

                <%- warn_message %>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

            </form>

                <form action="/users/login" method="get">
                <p class="text-center text-muted mt-5 mb-0">Have already an account? 
                    <button class="fw-bold text-body" type="submit"><u>Login here</u></button></p>
                </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
                       
</body>
</html>